@tailwind base;
@tailwind components;
@tailwind utilities;

/* Импорт всех вариантов шрифта Euclid Square */

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('@/assets/fonts/EuclidSquare-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Общие стили */
*:focus,
* {
	outline: none;
	border: 0;
}

html,
body {
	overflow: auto !important;
	font-family: 'Euclid Square', sans-serif;
    font-style: normal !important;
}

.custom-scroll {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }
}